<footer class="page-footer font small" style= "background-color:#ed6f60">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-3">
                <img src="https://i.imgur.com/1szdFYW.gif" width="150px" height="150px" alt="">
                <img src="https://i.imgur.com/1szdFYW.gif" width="150px" height="150px" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                
                <h4 class="text-white">Minhas Redes Sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">

                    <li>

                        
                        
                        <a href="https://www.facebook.com/nascimentonathalia" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/nascimentonat" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>

                        </a>
                    </li>

                </ul>

                
            </div>
        </div>
    </div>

    <div class="footer-copyright d-dark text-center py-3 ">
        <div class="alert alert-dark bg-color" role="alert">

    


            <span class="text-dark"> © 2022 Copyright: </span>
            <a class="text-dark" targent="_blank"
                href="https://github.com/nascimentonathalia">
                Veja também meu GitHub</a>
        </div>
    </div>

</footer>